<html>
  <head>
      <title>HTMX test</title>
      <script src="/htmx.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
      <link href="/output.css" rel="stylesheet">
  </head>
  <body class="bg-gray-900 text-white">
