<html>
  <head>
    <title>HTMX test</title>
    <link href="/output.css" rel="stylesheet">
  </head>
  <body class="bg-gray-900 text-white">
      <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
          <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
              <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Welcome, <%= email %>!</span>
              </a>
          </div>
      </nav>
      <div class="flex">

          <div class="w-1/6" hx-trigger="load" hx-get="/notes" hx-target="#allNotes">
          </div>

          <div class="flex w-4/6  flex-col">
              <form hx-post="/notes/add" hx-target="#allNotes" hx-swap="afterbegin"> 
                  <textarea name="body" class="text-black">Something on your mind...?</textarea>
                  <button >Add</button>
              </form>
              <div id="allNotes"></div>
          </div>

      </div>

    <script
      src="/htmx.js"
    ></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
  </body>
</html>
